<div id="articles-index-page">
  <ul>
    <% @articles.sort { |a, b| b.date <=> a.date }.each do |article| %>
      <li class="col-7">
        <a href="<%= article.link %>" class="articles-link">
          <div class="articles-image-wrapper">
            <%= image_tag "#{article.image}" %>
          </div>
          <div class="articles-content">
            <p class="articles-content-top">
              <strong>News</strong> ·
              <%= article.date %> ·
              <small><%= link_to "Delete",
                  article_path(article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
              </small>
            </p>
            <h4><%= article.title %></h4>
            <p class="articles-content-description"><%= article.description.truncate(140) %></p>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
</div>
