<div class="schools-page">
  <div class="schools">
    <h1>Schools in the UK</h1>
    <ul>
      <% @schools.each do |school| %>
      <li>
        <div class="image-wrapper">
          <%= cl_image_tag school.thumbnail.key, height: 175, width: 225, crop: :fill if school.thumbnail.attached? == true %>
        </div>
        <div class="school-details">
        <p>
          <small><%= school.school_type %></small>
        </p>
        <h2>
          <%= link_to school.name, school_path(school) %>
        </h2>
        <p>
          <small>Founded in <%= school.founded_at %> · <%= school.number_of_pupils %> pupils · £<%= school.price %>/term </small>
        </p>
        <p>
          Achieved Grade 5 or above: <%= school.grade_5_or_above %>%
        </p>
        <p>
          Achieved AAB or above: <%= school.aab_or_above %>%
        </p>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="map-section">
    <div
      id="map"
      style="width: 100%; height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="pk.eyJ1IjoibmljazIzNDIzNDIiLCJhIjoiY2tzMGYybTN1MWpvejJ1cHNrczV4YmFiNyJ9.YOnTvBEhpVi6_j0XJHu3Sw">
    </div>
  </div>
</div>
