<div class="school-show-page">
  <p>
    <small><%= @school.school_type %></small>
  </p>
  <h1><%= @school.name %></h1>
<p><%= @school.address %></p>
<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<%= line_chart School.pluck(:grade_5_or_above, :aab_or_above), suffix: "%", xtitle: "Year", ytitle: "AAB or above", loading: "Loading...", empty: "No data", title: "AAB or above" %>
<p>
  <small>Founded in <%= @school.founded_at %> · <%= @school.number_of_pupils %> pupils · £<%= @school.price %>/term </small>
</p>
<p>
  Achieved Grade 5 or above: <%= @school.grade_5_or_above %>%
</p>
<p>
  Achieved AAB or above: <%= @school.aab_or_above %>%
</p>
<ul class="list-group">
  <% @school.destinations.each do |destination| %>
    <li class="list-group-item"><%= destination.university %>: <%= destination.number_of_students %></li>
  <% end %>
</ul>

<p><%= link_to 'Add a scholarship', new_school_scholarship_path(@school) %></p>
<ul class="list-group">
  <% @school.scholarships.each do |scholarship| %>
    <li class="list-group-item">
      <%= scholarship.title %>
      <%= scholarship.description %>
      <%= link_to "Remove",
            scholarship_path(scholarship),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
<p><%= @school.summary %></p>
  <%= link_to 'Edit', edit_school_path(@school) %> |
  <%= link_to 'Back', schools_path %> |
  <%= link_to "Delete #{@school.name}",
            school_path(@school),
            method: :delete,
            data: { confirm: "Are you sure?" } %> |
<%= link_to 'Add a destination', new_school_destination_path(@school) %>
<h2>
  <%= pluralize @school.reviews.size, "review" %>
</h2>
<div data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">
  <div id="reviews" data-insert-in-list-target="items">
    <% if @school.reviews.blank? %>
      Be the first to leave a review for <%= @school.name %>
    <% else %>
      <% @school.reviews.each do |review| %>
        <%= render 'review', review: review %>
      <% end %>
    <% end %>
  </div>
  <%= render 'reviews/form', school: @school, review: @review %>
</div>
  <div
      id="map"
      style="width: 100%; height: 100vh;"
      data-markers='[{"lat":<%= @school.latitude %>, "lng":<%= @school.longitude %>}]'
      data-mapbox-api-key="pk.eyJ1IjoibmljazIzNDIzNDIiLCJhIjoiY2tzMGYybTN1MWpvejJ1cHNrczV4YmFiNyJ9.YOnTvBEhpVi6_j0XJHu3Sw">
  </div>
</div>
