<!DOCTYPE html>
<html>
  <head>
    <title>Scholarly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="left-section">
        <span id="logo">scholarly</span>
      </div>
      <div class="middle-section">
        <form>
          <input type="text" placeholder="Search schools..." id="search-bar">
        </form>
      </div>
      <div class="right-section">
        <span>Profile</span>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
